/*--------------------------------------------------------------
# IMPORT FONT
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body{
  --themeColor: ;
  background-color: var(--themeColor);
  --themeTextColor: ;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;

}

* p{
  color: var(--themeTextColor);
}


/* body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin: 0;
  padding:0;
  
} */

a {
  color: #67b0d1;
}

a:hover {
  color: #8ec4dd;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#main {
	padding:5%;
	background: url("../img/carousel/bg-main.png") top center;
	/* background-attachment: fixed; */
	/* background-repeat: no-repeat; */
	background-size: cover;
	background-attachment: fixed;
	line-height: 2;
} 
/*--------------------------------------------------------------
# SECTION 1 - MENU HEADER
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 15px 0;
}
  

/* Header bg transparents */
#header.header-transparent {
	background: transparent;
}
  
/* Header change lors du scroll */
#header.header-scrolled {
	background: rgba(70, 8, 55, 0.8);
	padding: 0;
}
  
/* Header logo titre */
#header .logo h1 {
	font-size: 24px;
	margin: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: 'Stick', sans-serif;
	text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
	color: rgb(0, 110, 255);
	text-decoration: none;
}
/* Header logo image */
#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
	float: left;
	background: rgba(0, 0, 0, 0.968)
}

.nav-menu a {
    display: block;
    position: relative;
    color: #002fff;
    padding: 20px 15px;
    transition: 0.3s;
    font-size: 13px;
    font-family: 'Akaya Kanadaka', cursive;
    text-transform: uppercase;
    font-weight: 500;
}

/* Menu hover */
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    background: rgba(255, 255, 255, 0.385);
    text-decoration: none;
}  

/* Header + Menu css scroll */
.header-scrolled .nav-menu > ul > li {
    background: none;
}  

.header-scrolled .nav-menu a {
    color: rgb(255, 255, 255);
}

.header-scrolled .nav-menu a:hover, .header-scrolled .nav-menu .active > a, .header-scrolled .nav-menu li:hover > a {
	background: rgba(255, 255, 255, 0.2);
}

/* Menu déroulant css */
.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

/* Afficher le contenu des menus déroulants */
.nav-menu .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}
.nav-menu .drop-down ul a {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #25607a;
}
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #67b0d1;
}

/* Icone menu déroulant */
.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
    
}

.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}
  
.nav-menu .drop-down .drop-down:hover > ul {
  left: -100%;
}
.nav-menu .drop-down .drop-down > a:after {
  content: "\ea9d";
}

/*--------------------------------------------------------------
# FIN SECTION 1 - MENU
--------------------------------------------------------------*/
  

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 0;
}

.section-bg {
  background-color: #59c598;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #2f4d5a;
  z-index: 2;
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/
/* Carousel CSS */
.carousel_section-container p{
	color:rgb(0, 0, 0)
}

/* Carousel CSS */
#carousel_section {
    width: 100%;
    height: 100vh;
    background: url("../img/carousel/bg.jpg") top center;
    background-size: cover;
    position: relative;
}

/* Carousel Container CSS */
#carousel_section .carousel_section-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
/* Carousel H1 CSS */
#carousel_section h1 {
	margin: 0 0 10px 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: -1px 0 2px #2f4d5a;
}

/* Carousel H2 CSS */
#carousel_section h2 {
	color: #fff;
	margin-bottom: 50px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: -1px 0 2px #2f4d5a;
}

/* Carousel btn CSS */
#carousel_section .btn-get-started {
	font-size: 36px;
	display: inline-block;
	padding: 4px 0;
	border-radius: 50px;
	transition: 0.2s ease-in-out;
	margin: 10px;
	width: 64px;
	height: 64px;
	text-align: center;
	border: 2px solid rgb(79, 176, 240);
	color: rgb(0, 195, 255);
}

/* Carousel btn:hover CSS */
#carousel_section .btn-get-started:hover {
	padding-top: 8px;
	background: rgba(109, 0, 33, 0.452);
}


/*--------------------------------------------------------------
# ABOUT ME
--------------------------------------------------------------*/

#ass_pres{
    background-color: rgba(109, 109, 109, 0.461);
    font-family: 'Akaya Kanadaka', cursive;
}

#ass_pres p{
    /* background-color: rgb(0, 0, 0); */
    /* height: 100vh; */
    color: rgb(255, 255, 255);
    font-family: 'Reggae One', cursive;
    /* font-family: 'Stick', sans-serif; */
}

/*  COMPETENCE CSS  */
.comp{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
.comp p{
  flex: 0 0 40%;
}
.conteneur_barre{
  flex: 0 0 60%;
  border-radius: 5px;
  background-color: grey;
  border-bottom: 1px ridge grey;
}

/*  BARRE CSS  */
.barre{
  display: block;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/*  %BARRE CSS  */
.c100{
  width: 100%;
  background-color: #4B8;
  border-radius: 5px;
}
.c90{
  width: 90%;
  background-color: #4B8;
  border-radius: 5px;
}
.c80{
  width: 80%;
  background-color: #4B8;
  border-radius: 5px;
}
.c70{
  width: 70%;
  background-color: #4B8;
  border-radius: 5px;
}
.c60{
  width: 60%;
  background-color: #4B8;
  border-radius: 5px;
}
.c30{
  width: 50%;
  background-color: #4B8;
  border-radius: 5px;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #67b0d1;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #86c0da;
  transition: background 0.2s ease-in-out;
}

 /*--------------------------------------------------------------
  # MOBILE CSS
  --------------------------------------------------------------*/

/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	color: #fff;
}

.mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: #2f4d5a;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
	color: #67b0d1;
	text-decoration: none;
}

.mobile-nav .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down > a:after {
	content: "\eaa1";
}

.mobile-nav .drop-down > a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(30, 48, 56, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;	
}
  
/* Header Media */
@media (max-width: 768px) {
	#header.header-scrolled {
	  padding: 15px 0;
	}
}

@media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
	left: -90%;
	}
}
@media (min-width: 1024px) {
    #carousel_section {
      background-attachment: fixed;
    }
}
  
@media (max-width: 768px) {
	#carousel_section h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#carousel_section h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
}